.main-slide {
  width: 100%;
  height: 100vh;
}

.vegas-content {
  position: absolute;
  width: 100%;
  bottom: 0 !important; 
}

.main-slide .container {
  width: 100%;
}

.main-slide .container > .row {
  width: 100%;
}

.main-slide .container > .row > .col-md-12 {
  font-family: roboto;
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 24px;
  height: 100px;
  /* border: 1px solid #fff; */
}

.container > .row > .col-md-12 img {
  width: 100%;
  height: 100%;
}

.container > .row > .col-md-12 > .box {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 40px;
  width: 600px;
  height: 400px;
  border: 1px solid #fff;
}

.box > div {
  color: #fff;
  font-size: 24px;
  margin: 10px;
  width: 200px;
  height: 150px;
  position: absolute;
  text-align: center;
  line-height: 150px;
}

.box {
  transition: background-color 300ms;
}

.innerbox1 {
  top: 10px;
  left: 40px;
}
.innerbox2 {
  top: 10px;
  right: 40px;
}

.innerbox3 {
  left: 40px;
  bottom: 10px;
  border: 1px solid #fff;
  transition: background-color 300ms;
}

.innerbox4 {
  right: 40px;
  bottom: 10px;
  border: 1px solid #fff;
  transition: background-color 300ms;
}

